In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('Dataset/Social_Network_Ads.csv')

In [40]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [41]:
# drop the user id column
df.drop('User ID', axis = 1, inplace=True)

In [42]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [43]:
# label encoding to Gender
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

df['Gender'] = encoder.fit_transform(df['Gender'])

In [44]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [45]:
X = df.drop('Purchased', axis=1)

In [46]:
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [47]:
Y = df['Purchased']
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# SCALING
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train) #z-score se apan scale kr rahe
X_test = ss.transform(X_test) #mean and std X_train ka hai, apan sirf transform kr rahe

print(X_train)

[[ 1.02532046 -1.66824722 -0.6030138 ]
 [-0.97530483  0.40381708  0.28241485]
 [-0.97530483 -0.16129137  1.66958639]
 [-0.97530483  1.81658819 -1.07524241]
 [ 1.02532046 -0.25547611  0.6365863 ]
 [ 1.02532046  1.06311026 -1.22281385]
 [ 1.02532046 -0.63221507 -1.51795674]
 [ 1.02532046  0.40381708  1.02027205]
 [-0.97530483 -0.06710663  1.99424356]
 [-0.97530483 -0.44384559 -0.01272804]
 [-0.97530483  0.30963234 -0.18981377]
 [ 1.02532046  2.00495767  2.17132929]
 [ 1.02532046  1.06311026  0.48901486]
 [-0.97530483 -0.9147693   0.45950058]
 [ 1.02532046  0.12126285 -0.80961382]
 [-0.97530483 -0.82058456  0.400472  ]
 [-0.97530483  1.91077293 -0.66204238]
 [-0.97530483  0.40381708  1.1383292 ]
 [ 1.02532046  1.72240345  1.87618641]
 [ 1.02532046 -0.25547611 -1.39989958]
 [ 1.02532046 -1.57406248  0.07581483]
 [ 1.02532046 -1.10313878  0.48901486]
 [-0.97530483  2.09914241  1.1383292 ]
 [-0.97530483 -1.385693   -1.22281385]
 [ 1.02532046 -0.25547611  0.16435769]
 [-0.97530483 -1.66824722 -1.3703853 ]
 [ 1.02532046  0.12126285 -0.80961382]
 [-0.97530483  1.157295   -0.75058524]
 [-0.97530483  0.12126285 -0.30787092]
 [ 1.02532046  0.02707811  0.04630054]
 [ 1.02532046 -0.72639981 -1.6064996 ]
 [ 1.02532046  2.00495767  1.78764355]
 [ 1.02532046  0.21544759 -0.3668995 ]
 [ 1.02532046 -1.19732352  0.28241485]
 [ 1.02532046 -1.76243196 -1.48844245]
 [-0.97530483 -1.00895404 -0.45544236]
 [-0.97530483  0.96892552  1.81715783]
 [ 1.02532046 -0.82058456  0.16435769]
 [ 1.02532046  0.78055604  0.54804344]
 [ 1.02532046  0.12126285  1.07930063]
 [-0.97530483 -0.9147693   0.42998629]
 [ 1.02532046  0.78055604 -1.3703853 ]
 [ 1.02532046  2.09914241 -0.80961382]
 [ 1.02532046 -0.72639981  0.57755773]
 [-0.97530483 -0.25547611 -0.57349951]
 [-0.97530483  1.72240345  1.02027205]
 [ 1.02532046 -0.53803033 -1.51795674]
 [ 1.02532046 -0.16129137  1.43347209]
 [-0.97530483  0.30963234 -1.16378528]
 [-0.97530483  1.43984923  2.17132929]
 [-0.97530483  0.30963234  0.07581483]
 [-0.97530483 -0.53803033  1.93521499]
 [-0.97530483  1.06311026 -0.98669955]
 [-0.97530483 -0.53803033  1.4039578 ]
 [ 1.02532046 -0.25547611  0.54804344]
 [-0.97530483  2.00495767 -1.19329957]
 [ 1.02532046  0.96892552 -0.83912811]
 [-0.97530483 -0.72639981  1.37444351]
 [ 1.02532046 -0.63221507 -0.33738521]
 [ 1.02532046 -0.25547611 -0.89815668]
 [-0.97530483  1.34566449 -0.92767097]
 [ 1.02532046 -0.25547611 -0.33738521]
 [ 1.02532046 -0.72639981 -1.54747103]
 [-0.97530483  1.06311026  2.11230072]
 [ 1.02532046  0.12126285  0.78415775]
 [ 1.02532046 -0.9147693  -0.30787092]
 [-0.97530483  0.12126285 -0.24884234]
 [-0.97530483  1.43984923  1.02027205]
 [ 1.02532046 -0.9147693   0.28241485]
 [-0.97530483 -0.25547611 -0.66204238]
 [ 1.02532046 -0.72639981  0.51852915]
 [-0.97530483  1.62821871  1.78764355]
 [ 1.02532046 -0.53803033 -1.51795674]
 [ 1.02532046 -1.00895404  0.60707202]
 [ 1.02532046 -1.85661671  0.37095771]
 [ 1.02532046  2.09914241  0.400472  ]
 [-0.97530483 -1.10313878 -1.54747103]
 [-0.97530483 -0.25547611 -0.13078519]
 [-0.97530483  1.34566449  1.31541493]
 [-0.97530483 -0.53803033  2.37792931]
 [-0.97530483 -0.25547611  0.07581483]
 [ 1.02532046 -1.29150826  0.42998629]
 [ 1.02532046  0.87474078  1.04978634]
 [ 1.02532046 -0.25547611  0.28241485]
 [-0.97530483  0.78055604 -0.83912811]
 [ 1.02532046  0.12126285  1.9057007 ]
 [-0.97530483  2.00495767 -0.80961382]
 [-0.97530483  1.157295    0.54804344]
 [ 1.02532046 -0.25547611 -0.42592807]
 [-0.97530483  1.91077293 -1.3703853 ]
 [ 1.02532046  0.12126285  1.55152924]
 [-0.97530483 -1.76243196 -1.42941387]
 [-0.97530483  0.59218656  2.05327214]
 [-0.97530483 -0.44384559 -0.54398523]
 [ 1.02532046 -0.34966085  1.34492922]
 [-0.97530483 -1.57406248 -0.04224233]
 [-0.97530483  1.25147974  2.25987216]
 [-0.97530483 -0.63221507 -1.6064996 ]
 [-0.97530483 -1.385693    0.37095771]
 [-0.97530483  0.40381708 -0.48495665]
 [-0.97530483  0.49800182  1.87618641]
 [-0.97530483 -0.25547611 -0.3668995 ]
 [-0.97530483 -0.9147693   0.51852915]
 [-0.97530483  0.87474078 -0.66204238]
 [-0.97530483  1.34566449 -1.42941387]
 [-0.97530483 -1.76243196 -1.28184243]
 [-0.97530483 -1.85661671 -0.75058524]
 [ 1.02532046  0.96892552 -1.07524241]
 [ 1.02532046 -0.25547611 -0.57349951]
 [-0.97530483 -0.44384559  1.28590065]
 [-0.97530483 -0.9147693  -0.42592807]
 [ 1.02532046  0.40381708  0.10532912]
 [-0.97530483  1.91077293 -0.92767097]
 [-0.97530483 -1.10313878 -1.01621384]
 [-0.97530483 -0.9147693  -0.75058524]
 [ 1.02532046 -0.63221507 -0.1012709 ]
 [ 1.02532046  0.30963234  0.07581483]
 [-0.97530483  1.157295   -0.98669955]
 [-0.97530483 -1.10313878 -1.6064996 ]
 [-0.97530483  0.30963234  0.07581483]
 [ 1.02532046 -0.34966085  1.25638636]
 [-0.97530483  0.40381708  0.16435769]
 [-0.97530483  1.91077293  0.75464346]
 [ 1.02532046 -0.63221507  0.19387198]
 [-0.97530483 -1.00895404 -0.33738521]
 [-0.97530483 -0.53803033  1.4039578 ]
 [ 1.02532046  0.40381708 -0.16029948]
 [-0.97530483 -0.06710663  0.04630054]
 [-0.97530483  0.49800182  1.25638636]
 [ 1.02532046  1.81658819 -0.27835663]
 [-0.97530483  0.78055604  0.37095771]
 [ 1.02532046 -1.19732352  0.51852915]
 [-0.97530483  0.21544759  0.16435769]
 [ 1.02532046 -1.57406248  0.54804344]
 [-0.97530483 -0.34966085 -0.78009953]
 [ 1.02532046 -0.44384559 -0.78009953]
 [ 1.02532046 -0.25547611  1.1383292 ]
 [ 1.02532046 -0.82058456  2.31890073]
 [-0.97530483  0.96892552  1.46298638]
 [-0.97530483 -1.10313878 -0.78009953]
 [-0.97530483 -1.00895404 -0.3668995 ]
 [ 1.02532046  0.21544759 -0.3668995 ]
 [ 1.02532046 -0.06710663  0.16435769]
 [-0.97530483 -0.9147693  -0.30787092]
 [-0.97530483 -1.10313878  0.07581483]
 [ 1.02532046 -1.19732352 -1.39989958]
 [-0.97530483  0.12126285  1.9057007 ]
 [ 1.02532046 -0.25547611 -1.45892816]
 [-0.97530483  0.02707811  0.31192913]
 [ 1.02532046  2.09914241 -1.04572813]
 [ 1.02532046 -0.63221507  0.1348434 ]
 [-0.97530483 -0.34966085 -1.31135672]
 [ 1.02532046  1.72240345 -0.27835663]
 [ 1.02532046 -1.76243196  0.01678625]
 [ 1.02532046  0.21544759  0.04630054]
 [-0.97530483 -1.66824722  0.37095771]
 [ 1.02532046 -0.25547611 -0.48495665]
 [ 1.02532046  0.30963234 -0.51447094]
 [-0.97530483  0.96892552 -1.16378528]
 [ 1.02532046  0.30963234 -0.72107095]
 [-0.97530483 -0.16129137 -0.57349951]
 [ 1.02532046  0.21544759  0.16435769]
 [-0.97530483 -1.85661671  0.48901486]
 [-0.97530483  1.34566449  2.02375785]
 [-0.97530483  0.02707811 -0.42592807]
 [-0.97530483  0.40381708  0.01678625]
 [ 1.02532046 -0.44384559 -1.13427099]
 [-0.97530483  0.30963234  0.07581483]
 [ 1.02532046 -0.16129137  2.20084358]
 [-0.97530483 -0.72639981 -0.21932805]
 [-0.97530483 -0.06710663  0.25290056]
 [ 1.02532046  0.6863713  -1.28184243]
 [ 1.02532046 -0.16129137 -1.07524241]
 [-0.97530483 -0.53803033  0.48901486]
 [ 1.02532046  1.06311026  0.54804344]
 [-0.97530483 -0.16129137  0.16435769]
 [ 1.02532046  0.02707811 -0.24884234]
 [ 1.02532046 -1.76243196 -1.31135672]
 [ 1.02532046 -1.85661671 -0.51447094]
 [ 1.02532046 -1.10313878  0.31192913]
 [ 1.02532046  0.40381708  2.34841502]
 [ 1.02532046 -1.10313878  0.34144342]
 [-0.97530483 -0.25547611 -1.3703853 ]
 [ 1.02532046 -0.72639981 -0.6030138 ]
 [ 1.02532046  0.87474078 -1.31135672]
 [-0.97530483  0.02707811 -0.57349951]
 [ 1.02532046 -0.34966085 -0.78009953]
 [-0.97530483  0.12126285  0.04630054]
 [-0.97530483 -1.47987774 -0.42592807]
 [ 1.02532046 -0.72639981  1.93521499]
 [-0.97530483 -0.63221507 -0.04224233]
 [ 1.02532046 -1.47987774 -1.51795674]
 [ 1.02532046  0.96892552  2.11230072]
 [-0.97530483 -0.25547611 -0.27835663]
 [-0.97530483 -1.29150826  0.57755773]
 [-0.97530483 -1.385693   -0.63252809]
 [ 1.02532046 -1.385693   -0.18981377]
 [-0.97530483 -1.00895404  0.42998629]
 [-0.97530483 -0.63221507  1.43347209]
 [-0.97530483 -0.63221507  0.04630054]
 [ 1.02532046 -1.10313878 -1.57698531]
 [ 1.02532046 -1.10313878 -1.16378528]
 [ 1.02532046 -0.06710663  0.01678625]
 [-0.97530483  1.81658819  1.55152924]
 [-0.97530483 -1.66824722  0.37095771]
 [ 1.02532046  2.09914241  0.96124348]
 [ 1.02532046  1.06311026  0.57755773]
 [ 1.02532046 -1.10313878 -1.1047567 ]
 [ 1.02532046 -1.00895404 -1.45892816]
 [-0.97530483 -0.25547611  2.28938645]
 [-0.97530483  2.00495767  0.19387198]
 [ 1.02532046  0.78055604 -1.22281385]
 [ 1.02532046  0.21544759  0.25290056]
 [ 1.02532046 -1.76243196  0.45950058]
 [ 1.02532046 -0.16129137  1.64007211]
 [ 1.02532046 -0.16129137 -0.27835663]
 [-0.97530483 -1.385693   -0.1012709 ]
 [-0.97530483  0.87474078 -0.57349951]
 [ 1.02532046 -0.06710663  0.28241485]
 [-0.97530483  2.09914241 -0.69155667]
 [ 1.02532046 -0.06710663  0.07581483]
 [-0.97530483 -1.29150826 -1.1047567 ]
 [-0.97530483 -0.06710663 -1.07524241]
 [ 1.02532046  0.87474078 -1.3703853 ]
 [-0.97530483  0.12126285  0.28241485]
 [-0.97530483  0.30963234  0.04630054]
 [-0.97530483  0.96892552 -1.19329957]
 [-0.97530483  1.53403397 -1.28184243]
 [ 1.02532046 -0.06710663 -0.48495665]
 [ 1.02532046  0.02707811 -0.30787092]
 [ 1.02532046 -0.82058456  0.31192913]
 [ 1.02532046 -0.82058456 -0.78009953]
 [ 1.02532046  0.02707811  0.04630054]
 [ 1.02532046  0.78055604  1.4039578 ]
 [-0.97530483 -1.66824722 -0.98669955]
 [-0.97530483 -0.06710663  2.25987216]
 [-0.97530483  0.87474078  1.28590065]
 [ 1.02532046 -1.29150826 -0.33738521]
 [-0.97530483 -0.06710663  0.31192913]
 [ 1.02532046  0.30963234  0.51852915]
 [ 1.02532046  0.12126285  0.04630054]
 [-0.97530483  1.06311026 -0.89815668]
 [-0.97530483  0.21544759  0.07581483]
 [ 1.02532046  0.78055604 -0.30787092]
 [-0.97530483 -1.00895404  0.78415775]
 [ 1.02532046  0.40381708 -0.45544236]
 [-0.97530483  1.157295   -1.45892816]
 [ 1.02532046  0.02707811 -0.54398523]
 [ 1.02532046 -1.19732352  0.60707202]
 [-0.97530483  1.43984923  0.37095771]
 [ 1.02532046 -0.25547611  0.16435769]
 [ 1.02532046 -0.53803033  1.49250066]
 [ 1.02532046  2.09914241 -0.80961382]
 [ 1.02532046 -0.16129137  0.87270061]
 [ 1.02532046  1.43984923  0.07581483]
 [-0.97530483  1.81658819 -1.28184243]
 [-0.97530483 -0.06710663  0.69561488]
 [-0.97530483 -0.82058456  0.400472  ]
 [ 1.02532046 -0.25547611 -0.92767097]
 [ 1.02532046 -0.9147693   0.57755773]
 [-0.97530483 -0.63221507  0.57755773]
 [-0.97530483  0.02707811  1.28590065]
 [-0.97530483 -0.25547611 -1.31135672]
 [-0.97530483  0.02707811 -0.57349951]
 [ 1.02532046 -0.72639981  0.31192913]
 [ 1.02532046 -1.47987774  0.34144342]
 [-0.97530483  0.87474078 -0.54398523]
 [ 1.02532046  0.6863713  -1.39989958]
 [ 1.02532046  0.02707811 -0.24884234]
 [ 1.02532046  1.62821871 -0.89815668]
 [ 1.02532046 -0.25547611 -0.24884234]
 [ 1.02532046  0.30963234 -0.51447094]
 [-0.97530483  1.91077293  0.93172919]
 [ 1.02532046  0.49800182  1.75812926]
 [ 1.02532046 -0.06710663 -0.51447094]
 [ 1.02532046  1.81658819  0.1348434 ]
 [-0.97530483 -1.10313878  1.43347209]
 [-0.97530483  0.87474078  2.20084358]
 [ 1.02532046  0.96892552 -1.07524241]
 [-0.97530483  0.12126285  0.10532912]
 [-0.97530483  0.87474078 -1.16378528]
 [-0.97530483 -0.44384559 -1.22281385]
 [-0.97530483  0.40381708  0.60707202]
 [-0.97530483  0.78055604 -1.39989958]
 [-0.97530483 -0.06710663 -0.3668995 ]
 [-0.97530483 -1.47987774 -0.18981377]
 [-0.97530483 -1.29150826 -1.25232814]
 [ 1.02532046 -0.25547611  0.07581483]
 [ 1.02532046 -0.25547611  0.10532912]
 [ 1.02532046  0.21544759 -0.24884234]
 [-0.97530483  0.30963234  0.31192913]
 [-0.97530483 -0.82058456 -0.66204238]
 [-0.97530483  0.96892552  2.02375785]
 [-0.97530483 -0.25547611  0.04630054]
 [-0.97530483  0.78055604  0.1348434 ]
 [ 1.02532046  0.87474078 -0.78009953]
 [-0.97530483  2.00495767  0.54804344]
 [ 1.02532046  0.78055604  0.28241485]
 [-0.97530483  0.40381708  0.31192913]
 [ 1.02532046 -0.82058456 -0.78009953]
 [ 1.02532046 -1.76243196  0.19387198]
 [ 1.02532046  1.06311026 -1.22281385]
 [ 1.02532046  0.96892552  0.1348434 ]
 [-0.97530483  0.87474078 -0.6030138 ]
 [ 1.02532046 -1.29150826 -1.3703853 ]
 [-0.97530483  0.12126285  0.16435769]
 [ 1.02532046 -1.66824722  0.48901486]
 [-0.97530483 -1.47987774 -1.25232814]
 [-0.97530483  0.78055604  0.78415775]
 [ 1.02532046 -0.06710663 -0.42592807]
 [-0.97530483 -1.10313878  0.31192913]
 [ 1.02532046  0.21544759  1.10881492]
 [-0.97530483  0.96892552 -1.01621384]
 [-0.97530483 -1.00895404 -1.13427099]
 [ 1.02532046  0.87474078 -1.45892816]
 [ 1.02532046  0.21544759 -0.30787092]
 [-0.97530483  1.25147974  1.9057007 ]
 [ 1.02532046  0.40381708  0.31192913]
 [-0.97530483  0.30963234 -0.54398523]
 [-0.97530483  0.78055604 -1.1047567 ]]

In [49]:
X_train.shape

(320, 3)

In [50]:
X_test.shape

(80, 3)

In [51]:
# Naive Bayes classification algorithm
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

model.fit(X_train, Y_train)

GaussianNB()

In [52]:
Y_pred = model.predict(X_test)
Y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [53]:
model.score(X_test, Y_test)

0.8625

In [54]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)

In [55]:
cm

array([[49,  5],
       [ 6, 20]], dtype=int64)

In [56]:
# Performance metrics
tp = cm[0][0]
fp = cm[0][1]
fn = cm[1][0]
tn = cm[1][1]

In [57]:
# Precision:
precision = tp/(tp+fp)

# Recall:
recall = tp/(tp+fn)

# Accuracy:
accuracy = (tp+tn)/(tp+fp+fn+tn)

# f1 score:
f1_score = 2 * (recall*precision)/(recall + precision)

print(precision, recall, accuracy, f1_score)

0.9074074074074074 0.8909090909090909 0.8625 0.8990825688073394

In [58]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_pred))

0.8625