In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset/Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
# drop the user id column
df.drop('User ID', axis = 1, inplace=True)

In [5]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [6]:
# label encoding to Gender
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

df['Gender'] = encoder.fit_transform(df['Gender'])

In [7]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [9]:
X = df.drop('Purchased', axis=1)

In [10]:
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [11]:
Y = df['Purchased']
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
X_train.shape

(320, 3)

In [14]:
X_test.shape

(80, 3)

In [15]:
# Naive Bayes classification algorithm
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

model.fit(X_train, Y_train)

GaussianNB()

In [16]:
Y_pred = model.predict(X_test)
Y_pred

array([1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0], dtype=int64)

In [19]:
model.score(X_test, Y_test)

0.925

In [20]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)

In [21]:
cm

array([[54,  1],
       [ 5, 20]], dtype=int64)

In [22]:
# Performance metrics
tp = cm[0][0]
fp = cm[0][1]
fn = cm[1][0]
tn = cm[1][1]

In [23]:
# Precision:
precision = tp/(tp+fp)

# Recall:
recall = tp/(tp+fn)

# Accuracy:
accuracy = (tp+tn)/(tp+fp+fn+tn)

# f1 score:
f1_score = 2 * (recall+precision)/(recall * precision)

print(precision, recall, accuracy, f1_score)

0.9818181818181818 0.9152542372881356 0.925 4.222222222222221

In [24]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_pred))

0.925